*{
  padding: 0px;
  margin: 0px;
}

html, body{
  height: 100%;
}

label{
  font-weight: normal;
}

h2{
  margin: 0px;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
  font-size: 14px;
  font-weight: bold;
  color: #003f4f;
  border-bottom: 1px solid #ddd;
}

hr{
  border-color: #ddd;
}

a{
  color: #003f4f;
}

table{
  background: white;
}

button:focus, button:active, btn:focus, btn:active{
  outline: none !important;
}

.infografico{
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.img-infografico{
  width: 100%;
}

.img-parceiro{
  width: 100%;
}

.pagina{
  min-height: calc(100% - 91px);
}

.margin-0{
  margin: 0px !important;
}

.display-none{
  display: none;
}

.display-none-important{
  display: none !important;
}

.cursor-pointer:hover{
  cursor: pointer;
}

.text-capitalize{
  text-transform: capitalize.
}

.text-lowercase{
  text-transform: lowercase;
}

.text-justify{
  text-align: justify;
}

.body-bg{
  background: #f5f9fa;
}

.hr-titulo{
  margin-top: 10px;
  border-color: #ddd;
}

.hr-formulario{
  margin-bottom: 15px;
}

.logo{
  height: 70px;
  margin-left: 20px;
}

.logo-branca{
  width: 150px;
}

.mobile{
  height: 356px;
  margin-top: 20px;
  margin-left: 100px;
}

.topo-container{
  display: table;
  width: 100%;
  border-top: 3px solid #003f4f;
}

.topo-menu-superior{
  width: 100%;
  padding: 20px 20px 20px 20px;
  background: white;
}

.topo-menu-superior-conectado{
  width: 100%;
  padding: 16px 20px 19px 20px;
  background: white;
}

.topo-menu-inferior{
  width: 100%;
  height: 55px;
  border-top: 5px solid #f25268;
  background: #003f4f;
}

.banner{
  width: 100%;
  height: 377px;
  background: #fff;
  border-top: 1px solid #cedde0;
  background-image: url('../img/banner.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pesquisa{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 317px;
  padding: 30px;
  background: #003f4f;
}

.pesquisa-formulario{
  width: 100%;
  height: 365px;
  padding: 15px;
  margin-top: 15px;
  background: #fff;
}

.menu-topo-item{
  float: left;
  padding: 15px 0px 15px 0px;
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-topo-item-xs{
  float: left;
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-topo-label{
  margin: 15px 0px 15px 0px;
}

.menu-topo-item-xs:hover, .menu-topo-item:hover, .menu-topo-item:active, .menu-topo-item:focus{
  cursor: pointer;
  float: left;
  color: white;
  text-decoration: none;
  color: white;
  background: #005065;
}

.menu-social{
  margin-top: 12px;
  color: #a8c7cf;
}

.menu-social a{
  margin-left: 5px;
  color: #a8c7cf;  
}

.menu-social i:hover{
  cursor: pointer;
  color: white;
}

.barra-destaque{
  width: 100%;
  padding: 40px 20px 40px 20px;
  margin-bottom: 30px;
  color: #003f4f;
  font-size: 22px;
  background: white;
  border-top: 1px solid #cedde0;
  border-bottom: 1px solid #cedde0;
}

.item-destaque{
  font-size: 14px;
  color: #505050;
  margin-bottom: 20px;
}

.barra-titulo{
  width: 100%;
  padding: 15px 20px 15px 20px;
  color: #003f4f;
  background: #f5f9fa;
  border-bottom: 1px solid #cedde0;
}

.borda-cinza{
  border: 1px solid #ddd;
}

.destaque-quadro{
  overflow:hidden;
  border: 3px solid white;
}

.destaque-imovel{
  width: 100%;
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.destaque-imovel:hover{
  cursor: pointer;
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
}

.destaque-imovel-dados{
  position: absolute;
  z-index: 10;
  padding: 6px 8px;
  left: 25px;
  margin-top: 168px;
  color: white;
  background: #003f4f;
  border-radius: 3px 3px 0px 0px;
}

.destaque-imovel-localizacao, .destaque-imovel-valor{
  position: absolute;
  z-index: 20;
  background: #f25268;
  padding: 6px 8px;
  left: 25px;
  color: white;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0px 0px 3px 3px;
}

.destaque-imovel-icone{
  float: left;
  margin-left: 7px;
  margin-right: 7px;
}

.contador{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: white;
  border-top: 1px solid #cedde0;
  border-bottom: 1px solid #cedde0;
}

.contador-total{
  color: #003f4f;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contador-valor{
  color: #003f4f;
  font-size: 28px;
  font-weight: bold;
}

.contador-rotulo{
  color: #f25268;
  text-transform: uppercase;
  font-weight: bold;
}

.formulario{
  background: #000000;
}

.rodape{
  width: 100%;
  margin-top: 30px;
  padding-top: 28px;
  padding-bottom: 25px;
  color: #888;
  background: #333;
}

.rodape h3{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-size: 16px;
  color: white;
  text-align: center;
}

.rodape .sobre{
  font-size: 12px;
  line-height: 16px !important;
}

.rodape .link{
  display: table;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #888;
  border-bottom: 1px solid #444;
}

.rodape .link:hover{
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.rodape img{
  margin-top: 1px;
}

.rodape-menu{
  width: 100%;
  margin-top: 3px;
}

.rodape-menu a{
  margin-right: 10px;
  color: #888;
}

.rodape-menu a:hover{
  color: white;
}

.rodape .fa{
  color: #888;
  margin-left: 5px;
}

.rodape .fa:hover{
  color: white;
}

.rodape ul{
  list-style-type: none;
  padding: 0px;
  margin-top: 10px;
  color: #bbb;
}

.m-bottom-0{
  margin-bottom: 0px !important;
}

.m-bottom-5{
  margin-bottom: 5px;
}

.m-bottom-10{
  margin-bottom: 10px;
}

.m-bottom-20{
  margin-bottom: 20px;
}

.m-bottom-30{
  margin-bottom: 30px;
}

.m-top-2{
  margin-top: 2px;
}

.m-top-5{
  margin-top: 5px;
}

.m-top-8{
  margin-top: 8px;
}

.m-top-10{
  margin-top: 10px;
}

.m-top-15{
  margin-top: 15px;
}

.m-top-20{
  margin-top: 20px;
}

.m-top-30{
  margin-top: 30px;
}

.p-top-1{
  padding-top: 1px;
}

.p-top-2{
  padding-top: 2px;
}

.p-top-10{
  padding-top: 10px;
}

.p-top-15{
  padding-top: 15px;
}

.p-top-30{
  padding-top: 30px;
}

.m-right-5{
  margin-right: 5px !important;
}

.pesquisa .form-control{
  border: none;
  border-radius: 0px;
}

.sidebar-pesquisa .form-control{
  border: none;
}

select{
  -webkit-appearance:none;
  -moz-appearance: none;
  background: url('../img/select-arrow.png') no-repeat right 9px white !important;
}

select::-ms-expand{
  display: none;
}

.text-default{
  color: #555;
}

.text-primary{
  color: #003f4f;
}

.text-facebook{
  color: #3b5998;
}

.text-twitter{
  color: #00aced;
}

.text-danger{
  color: #f25268;
}

.text-uppercase{
  text-transform: uppercase;
}

.rodape-mapa{
  width: 100%;
  height: 300px;
  background: white;
  border-top: 1px solid white;
}

.ad-250{
  width: 100%;
}

.ad-850{
  width: 100%;
}

.img-resultado{
  width: 100%;
}

.img-logo-anunciante{
  width: 170px;
}

.publicidade-home{
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: -30px;
}

.pagina-interna{
  width: 100%;
  padding-top: 30px;
}

.sidebar-pesquisa{
  padding: 15px;
  color: white;
  background: #003f4f;
}

.item-resultado img{
  border: 1px solid #ddd;
}

.item-resultado a:hover, .item-resultado a:active, .item-resultado a:focus{
  text-decoration: none;
}

.item-resultado a:hover .item-resultado-descricao{
  color: #f25268;
}

.item-resultado .table{
  background: white !important;
}

.item-resultado-imagem{
  float: left;
  width: 100%;
  max-width: 300px;
  height: 200px;
  background: #f2f2f2;
}

.item-resultado-dados{
  float: left;
  margin-left: 30px;
}

.item-resultado-endereco{
  font-size: 18px;
}

.item-resultado-descricao{
  margin-top: 10px;
}

.item-resultado-tabela{
  margin-top: 10px;
}

.item-resultado-preco{
  position: absolute;
  z-index: 20;
  background: #f25268;
  padding: 6px 8px;
  margin-top: 2px;
  left: 25px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 0px 0px 3px 3px;
}

.item-resultado-porcentagem{
  position: absolute;
  z-index: 30;
  padding: 6px 8px;
  right: 25px;
  bottom: 4px;
  color: white;
  background: #003f4f;
  border-radius: 3px 3px 0px 0px;
}

.item-combinacao{
  width: 100%;
}

.combinacao{
  display: table;
  width: 100%;
  border: 1px solid #ddd;
}

.combinacao-anuncio{
  float: left;
  width: 50%;
  height: 150px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.combinacao-barra{
  position: absolute;
  z-index: 100;
  left: 50%;
  width: 2px;
  height: 150px;
}

.combinacao-carimbo{
  position: absolute;
  z-index: 200;
  width: 100px;
  height: 92px;
  left: calc(50% - 50px);
  top: calc(50% - 46px);
}

.modal-chat{
  height: 300px !important;
  overflow-y: scroll;
}

.chat-mensagem-a{
  width: 100%;
  background: #f5f9fa;
  padding: 10px;
}

.chat-mensagem-b{
  width: 100%;
  background: white;
  padding: 10px;
}

.input-img-preview{
  width: 100%;
  height: 130px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid #ddd;
}

.input-img-preview button{
  margin-top: 10px;
  margin-left: 10px;
}

.img-anuncio-sem-imagem{
  width: 100%;
  border: 1px solid #ddd;
}

.mapa-google{
  width: 100%;
}

.text-truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-facebook{
  color: white;
  background: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus{
  color: white !important;
  background: #3b5998 !important;
  border-color: #3b5998 !important;
}

.text-twitter{
  color: #00aced !important;
}

.text-facebook{
  color: #3b5998 !important;
}

.text-google{
  color: #dd4b39;
}